@import url('https://fonts.googleapis.com/css?family=Lato:100,400,700');

html, body {
  background: #fff;
  color: #34435E;
  font-family: 'Lato', sans-serif;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1080px;
  width: 90%;
}